$color-light-text: rgba(32, 32, 32, 0.7);
$color-dark-text: #24261c;

$xl: 1350px;
$lg: 992px;
$md: 768px;
$sm: 576px;

$menu-point: 1100px;

// $border-radius: 8px;

// $default-color-primary: #657838;
// $default-color-secondary: #f7ab37;

// $default-color-primary-button-hover: #516424;
// $default-color-secondary-button-hover: #d98d19;

// Default

$default-color-primary: #00bfa5;
$default-color-secondary: #000;

$default-color-primary-button-hover: #000;
$default-color-secondary-button-hover: #000;

$default-bg: #00bfa52b;

$default-img-border-radius: 0px;

$default-btn-border-radius: 0px;
